body {
    font-family: 'Yusei Magic', sans-serif;
    background-color: #222d26;
}

.direction-img {
    border-radius: 5%;
    height: 90%;
    width: 90%;
    object-fit: cover;
    z-index:0;
}
.direction-row {
    height: 100px;
}
.main-contain {
}

.gold {
    color: #ffd700;
}

.activity-log {
    height: 300px;
    overflow: scroll;
    background-color: #222d26;
    color: #e3e3e3;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}
.info {
    opacity: 80%;
    background-color: #1a1a1a;
    border-radius:5px; 
}